In [14]:
import re
import sys
if sys.version_info[0] < 3: 
    from StringIO import StringIO
else:
    from io import StringIO
import pandas as pd

In [15]:
# This file is part of UDPipe <http://github.com/ufal/udpipe/>.
#
# Copyright 2016 Institute of Formal and Applied Linguistics, Faculty of
# Mathematics and Physics, Charles University in Prague, Czech Republic.
#
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

import ufal.udpipe
# ufal.udpipe.Model etc. are SWIG-magic and cannot be detected by pylint
# pylint: disable=no-member

class Model:
    def __init__(self, path):
        """Load given model."""
        self.model = ufal.udpipe.Model.load(path)
        if not self.model:
            raise Exception("Cannot load UDPipe model from file '%s'" % path)

    def tokenize(self, text):
        """Tokenize the text and return list of ufal.udpipe.Sentence-s."""
        tokenizer = self.model.newTokenizer(self.model.DEFAULT)
        if not tokenizer:
            raise Exception("The model does not have a tokenizer")
        return self._read(text, tokenizer)

    def read(self, text, in_format):
        """Load text in the given format (conllu|horizontal|vertical) and return list of ufal.udpipe.Sentence-s."""
        input_format = ufal.udpipe.InputFormat.newInputFormat(in_format)
        if not input_format:
            raise Exception("Cannot create input format '%s'" % in_format)
        return self._read(text, input_format)

    def _read(self, text, input_format):
        input_format.setText(text)
        error = ufal.udpipe.ProcessingError()
        sentences = []

        sentence = ufal.udpipe.Sentence()
        while input_format.nextSentence(sentence, error):
            sentences.append(sentence)
            sentence = ufal.udpipe.Sentence()
        if error.occurred():
            raise Exception(error.message)

        return sentences

    def tag(self, sentence):
        """Tag the given ufal.udpipe.Sentence (inplace)."""
        self.model.tag(sentence, self.model.DEFAULT)

    def parse(self, sentence):
        """Parse the given ufal.udpipe.Sentence (inplace)."""
        self.model.parse(sentence, self.model.DEFAULT)

    def write(self, sentences, out_format):
        """Write given ufal.udpipe.Sentence-s in the required format (conllu|horizontal|vertical)."""

        output_format = ufal.udpipe.OutputFormat.newOutputFormat(out_format)
        output = ''
        for sentence in sentences:
            output += output_format.writeSentence(sentence)
        output += output_format.finishDocument()

        return output

# Can be used as
#  model = Model('english-ud-1.2-160523.udpipe')
#  sentences = model.tokenize("Hi there. How are you?")
#  for s in sentences:
#      model.tag(s)
#      model.parse(s)
#  conllu = model.write(sentences, "conllu")

In [16]:
model = Model('english-partut-ud-2.0-170801.udpipe')

In [17]:
def create_df_from_conllu(conllu):
    conllu = re.sub('#.+?\n', '', conllu)
    #print(conllu)
    l = conllu.split('\n')
    string = 'Id\tForm\tLemma\tUPosTag\tXPosTag\tFeats\tHead\tDepRel\tDeps\tMisc\n'
    string += "\n".join(l)
    TESTDATA = StringIO(string)
    df = pd.read_csv(TESTDATA, sep="\t")
    return df

In [18]:
def delete_from_df(df):
    to_drop = []
    for index, row in df.iterrows():
        if '-' in str(row['Id']):
            num = len(row['Id'].split('-'))
            #print(row['Id'], index, num)
            for x in range(num):
                if num != 0:
                    to_drop.append(index + num)
                    num -= 1
    return to_drop

In [19]:
def parsing(text):
    sentences = model.tokenize(text)
    for s in sentences:
        model.tag(s)
        model.parse(s)
    conllu = model.write(sentences, "conllu")
    return conllu

In [38]:
def open_ann_find_end(ann):
    ts = re.findall('\n(T[0-9]+)\t', ann)
    ts = sorted([int(t[1:]) for t in ts])
    grids = re.findall('\n(#[0-9]+)\t', ann)
    grids = sorted([int(grid[1:]) for grid in grids])
    if grids == [] and ts != []:
        return ts[-1]+1, 1
    elif grids != [] and ts == []:
        return 1, grids[-1]+1
    else:
        return ts[-1]+1, grids[-1]+1

In [39]:
def opening(path):
    with open(path, 'r') as f:
        text = f.read()
    return text

In [40]:
def df_changing(text):
    conllu = parsing(text)
    df = create_df_from_conllu(conllu)
    to_drop = delete_from_df(df)
    df = df.drop(df.index[to_drop])
    return df

In [41]:
text = opening('/Users/irene/Downloads/realec/2012-2014/esl_00206.txt')
ann_check = opening('/Users/irene/Downloads/realec/2012-2014/esl_00206.ann')
ann = opening('ann_withoutpos.ann')

In [42]:
df = df_changing(text)

In [43]:
df.head()

,Id,Form,Lemma,UPosTag,XPosTag,Feats,Head,DepRel,Deps,Misc
0,1,The,the,DET,RD,Definite=Def|PronType=Art,3,det,_,_
1,2,first,first,ADJ,NO,Degree=Pos|NumType=Ord,3,amod,_,_
2,3,chart,chart,NOUN,S,Number=Sing,4,nsubj,_,_
3,4,demonstrates,demonstrate,VERB,V,Mood=Ind|Number=Sing|Person=3|Tense=Pres|VerbF...,0,root,_,_
4,5,that,that,SCONJ,CS,_,12,mark,_,_

In [44]:
t, grid = open_ann_find_end(ann)

In [45]:
def start_end(df, text):
    starts = []
    ends = []
    end = 0
    for index, row in df.iterrows():
        start = end + text.find(row['Form'])
        end = start + len(row['Form'])
        text = text[text.find(row['Form'])+len(row['Form']):]
        print(row['Form'], start, end)
        starts.append(start)
        ends.append(end)
    return starts, ends

In [46]:
starts, ends = start_end(df, text)

The 0 3
first 4 9
chart 10 15
demonstrates 16 28
that 29 33
the 34 37
total 38 43
amount 44 50
of 51 53
waste 54 59
has 60 63
increased 64 73
from 74 78
800 79 82
thousand 83 91
tones 92 97
to 98 100
one 101 104
million 105 112
in 113 115
a 116 117
four 118 122
- 122 123
year 123 127
period 128 134
. 134 135
Thelowest 136 145
rate 146 150
was 151 154
in 155 157
the 158 161
year 162 166
2009 167 171
: 171 172
according 173 182
to 183 185
the 186 189
chart 190 195
, 195 196
it 197 199
was 200 203
only 204 208
700 209 212
thousand 213 221
tones 222 227
, 227 228
which 229 234
is 235 237
less 238 242
for 243 246
100 247 250
thousand 251 259
tones 260 265
than 266 270
the 271 274
rate 275 279
ofthe 280 285
previous 286 294
year 295 299
. 299 300
However 301 308
, 308 309
next 310 314
year 315 319
the 320 323
rate 324 328
reached 329 336
its 337 340
peak 341 345
- 346 347
it 348 350
was 351 354
1 355 356
200 357 360
thousand 361 369
tones 370 375
. 375 376
Thereby 377 384
, 384 385
the 386 389
rate 390 394
which 395 400
was 401 404
reached 405 412
by 413 415
the 416 419
nextyear 420 428
, 428 429
namely 430 436
one 437 440
million 441 448
tones 449 454
, 454 455
could 456 461
be 462 464
considered 465 475
as 476 478
a 479 480
success.This 481 493
data 494 498
should 499 505
be 506 508
compared 509 517
with 518 522
the 523 526
amount 527 533
of 534 536
investment 537 547
which 548 553
is 554 556
made 557 561
to 562 564
dispose 565 572
the 573 576
waste 577 582
. 582 583
It 584 586
is 587 589
highly 590 596
predictable 597 608
that 609 613
these 614 619
rates 620 625
shouldvary 626 636
inversely 637 646
: 646 647
the 648 651
more 652 656
amount 657 663
of 664 666
money 667 672
is 673 675
invested 676 684
in 685 687
reducing 688 696
the 697 700
waste 701 706
, 706 707
the 708 711
less 712 716
is 717 719
the 720 723
waste 724 729
. 729 730
However 731 738
, 738 739
the 740 743
observed 744 752
situation 753 762
is 763 765
not 766 769
likethat 770 778
. 778 779
The 780 783
rates 784 789
of 790 792
investment 793 803
go 804 806
up 807 809
together 810 818
with 819 823
the 824 827
rates 828 833
of 834 836
waste 837 842
. 842 843
The 844 847
rates 848 853
of 854 856
investment 857 867
has 868 871
increased 872 881
from 882 886
one 887 890
million 891 898
euro 899 903
to 904 906
2 907 908
,5 908 910
millionduring 911 924
these 925 930
four 931 935
years 936 941
. 941 942
It 943 945
has 946 949
to 950 952
be 953 955
noted 956 961
, 961 962
however 963 970
, 970 971
that 972 976
the 977 980
amount 981 987
of 988 990
investment 991 1001
remains 1002 1009
at 1010 1012
the 1013 1016
same 1017 1021
level 1022 1027
( 1028 1029
1 1029 1030
,5 1030 1032
million 1033 1040
euro 1041 1045
) 1045 1046
in 1047 1049
2009 1050 1054
and2010 1055 1062
, 1062 1063
which 1064 1069
caused 1070 1076
a 1077 1078
dramatic 1079 1087
rise 1088 1092
of 1093 1095
the 1096 1099
amount 1100 1106
of 1107 1109
waste 1110 1115
. 1115 1116
In 1117 1119
other 1120 1125
words 1126 1131
, 1131 1132
the 1133 1136
chart 1137 1142
shows 1143 1148
that 1149 1153
the 1154 1157
amount 1158 1164
of 1165 1167
money 1168 1173
invested 1174 1182
should 1183 1189
be 1190 1192
increasedpermanently 1193 1213
in 1214 1216
order 1217 1222
to 1223 1225
escape 1226 1232
the 1233 1236
abrupt 1237 1243
changes 1244 1251
in 1252 1254
the 1255 1258
environment.Concerning 1259 1281
the 1282 1285
level 1286 1291
of 1292 1294
public 1295 1301
discontent 1302 1312
, 1312 1313
it 1314 1316
is 1317 1319
going 1320 1325
up 1326 1328
permanently 1329 1340
during 1341 1347
all 1348 1351
the 1352 1355
four 1356 1360
years 1361 1366
with 1367 1371
no 1372 1374
relation 1375 1383
to 1384 1386
the 1387 1390
rate 1391 1395
leaps 1396 1401
which 1402 1407
werediscussed 1408 1421
above 1422 1427
. 1427 1428
Nevertheless 1429 1441
, 1441 1442
the 1443 1446
speed 1447 1452
of 1453 1455
the 1456 1459
growth 1460 1466
is 1467 1469
different 1470 1479
. 1479 1480
From 1481 1485
2008 1486 1490
till 1491 1495
2009 1496 1500
the 1501 1504
rate 1505 1509
increased 1510 1519
for 1520 1523
five 1524 1528
thousand 1529 1537
of 1538 1540
complaints: 1541 1552
from 1552 1556
35 1557 1559
thousand 1560 1568
to 1569 1571
40 1572 1574
thousand 1575 1583
. 1583 1584
But 1585 1588
by 1589 1591
the 1592 1595
year 1596 1600
2010 1601 1605
the 1606 1609
increase 1610 1618
of 1619 1621
complaints 1622 1632
was 1633 1636
more 1637 1641
crucial 1642 1649
: 1649 1650
the 1651 1654
rate 1655 1659
has 1660 1663
grown 1664 1669
for 1670 1673
10 1674 1676
thousand 1677 1685
( 1686 1687
from 1687 1691
40thousand 1692 1702
to 1703 1705
50 1706 1708
thousand 1709 1717
) 1717 1718
. 1718 1719
Nonetheless 1720 1731
the 1732 1735
amount 1736 1742
of 1743 1745
waste 1746 1751
has 1752 1755
dropped 1756 1763
by 1764 1766
the 1767 1770
year 1771 1775
2011 1776 1780
, 1780 1781
the 1782 1785
amount 1786 1792
of 1793 1795
complaints 1796 1806
have 1807 1811
not 1812 1815
decreased 1816 1825
: 1825 1826
this 1827 1831
ratehas 1832 1839
reached 1840 1847
60 1848 1850
thousand.Thus 1851 1864
, 1864 1865
these 1866 1871
charts 1872 1878
demonstrate 1879 1890
a 1891 1892
correlation 1893 1904
between 1905 1912
the 1913 1916
amount 1917 1923
of 1924 1926
money 1927 1932
that 1933 1937
are 1938 1941
invested 1942 1950
in 1951 1953
saving 1954 1960
the 1961 1964
nature 1965 1971
and 1972 1975
the 1976 1979
amount 1980 1986
of 1987 1989
waste 1990 1995
. 1995 1996
On 1997 1999
thecontrary 2000 2011
, 2011 2012
no 2013 2015
correlation 2016 2027
between 2028 2035
the 2036 2039
level 2040 2045
of 2046 2048
real 2049 2053
waste 2054 2059
and 2060 2063
the 2064 2067
level 2068 2073
of 2074 2076
public 2077 2083
discontent 2084 2094
could 2095 2100
be 2101 2103
observed 2104 2112
. 2112 2113

In [47]:
df['START'] = starts
df['END'] = ends

In [48]:
def add_ann(ann, df, t, grid):
    strings_in_file = []
    tx = ann
    for index, row in df.iterrows(): 
        s1 = 'T' + str(t) + '\t' + str(row['UPosTag']) + ' ' + str(row['START']) + ' ' + str(row['END']) + '\t' + row['Form'] + '\n'
        s2 = '#'+ str(grid) + '\tAnnotatorNotes T' + str(t) + "\tlemma = '" + row['Lemma'] + "'\n"
        #print(s1)
        #print(s2)
        tx += s1 + s2
        t += 1
        grid += 1
    return tx

In [49]:
t

11

In [50]:
grid

1

In [51]:
tx = add_ann(ann, df, t, grid)

In [52]:
with open('esl_00206_test.ann', 'w') as f:
    f.write(tx)

In [ ]:
for x in ann_check.split('\n')[126:-3]:
    if '#' not in x:
        print(x)